name: CI
on: [push]
jobs:
  mypy:
    runs-on: ubuntu-latest
    name: mypy
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install Dependencies
      run: |
        pip install mypy
    - name: mypy
      run: |
        mypy .

  yapf:
    runs-on: ubuntu-latest
    name: yapf
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install Dependencies
      run: |
        pip install yapf
    - name: yapf
      run: |
        yapf --style google --diff farmhand.py

